<form action="{{search_action}}" method="post" enctype="multipart/form-data" id="fsearch">
    <div class="row mb-2">
        <div class="col">
            <label for="inpSearc00" class="form-label small">Nome </label>
            <input type="text" name="nome" id="inpSearc00" value=""
                   class="form-control ocp-input-form">
        </div>
    </div>
    <div class="row mb-2">
        <div class="col">
            <label for="inpSearc01" class="form-label small">Perfil </label>
            <select type="text" name="perfil" id="inpSearc01"
                    class="form-control ocp-input-form">
                {{form_perfis}}
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col text-end">
            <button type="submit" class="btn btn-sm btn-accept">
                <i class="bi-search" style="font-size: 0.8rem;"></i>
                Buscar
            </button>
        </div>
    </div>

    <input type="hidden" name="token_search" value="{{token}}">
</form>