<p>Olá, {{user_name}}!</p>

<p>
    Seu cadastro no Sistema {{sys_name}}. 
    Seja muito bem vindo ao nosso jeito de fazer gestão pública.
    Com rapidez, agilidade e transparencia nosso sistema irá levar seu trabalho a novo patamar.
</p>

<p>
    Relizar Acesso: <a href="{{sys_link}}" target="_blank">Acessar Sistema {{sys_name}}</a>
    <br>
    <span>Usuario: {{user_uid}}</span>
    <br>
    <span>Senha Inicial: {{user_pid}}</span>
</p>

<p>
    Seja muito bem vindo! Estamos muito felizes com com você aqui!
    <br>
    Attenciosamente {{sys_company}}
</p>

