<p>Olá, {{user_name}}!</p>

<p>
    Você solicitou uma nova senha para o Sistema {{sys_name}}. 
    Foi gerado uma senha temporária, que deverá ser alterada no seu próximo acesso.
    Lembre que ao cadastrar a nova senha ela deve ter pelo menos 8 caractéres, letras maiúsculas, minúsculas, números e símbolos!
</p>

<p>
    Relizar Acesso: <a href="{{sys_link}}" target="_blank">Acessar Sistema {{sys_name}}</a>
    <br>
    <span>Usuario: {{user_uid}}</span>
    <br>
    <span>Senha Temporária: {{user_pid}}</span>
</p>

<p>
    Attenciosamente {{sys_company}}
</p>

