:root{
    --radio : 5px;
    --btn-radio :5px;
    --bg-base : #249e80;
    --bg-hover : #166753;
    --bg-contrast : #FFAE00;
    --cc-text: #2e2e2e;
    --cc-label: #232323;
    --bg-card: #ffffff;
    --bg-fundo: #f2f2f2;
    --bg-imput: #ffffff;
    --bg-impfocus: #EBEDF3;
    --bg-impborder:#e2e2e3;
    --bg-placeholder:#c0c0c0;
    --bg-shadow: #cac9c9;
    --bg-action: #acfae7;
    --bg-gray: #939191;
    --bg-ligthgray: #cac9c9;
    --bg-darkgray: #5d5d5d;
    --bg-success: #86ebba;
    --bg-primary: #6fbcf2;
    --bg-warning: #f5c674;
    --bg-danger: #ff798b;
    --bg-success-dark: #1d7254;
    --bg-primary-dark: #1a5f91;
    --bg-warning-dark: #a16704;
    --bg-danger-dark: #943844;
    --ft-base: 'Poppins', Helvetica, Tahoma, Sans-serif;
}

/* Working in dark theme
:root{
    --radio : 6px;
    --btn-radio :6px;
    --bg-base : #51929d;
    --bg-hover : #3c808c;
    --bg-contrast : #191D32;
    --cc-text: #ffffff;
    --bg-card: #1a1a1a;
    --bg-fundo: #111010;
    --bg-imput: #1c1c1c;
    --bg-impfocus: #262627;
    --bg-impborder:#020202;
    --bg-placeholder:#757575;
    --bg-shadow: #cac9c9;
    --bg-action: #b4e7f0;
    --bg-gray: #939191;
    --bg-ligthgray: #cac9c9;
    --bg-darkgray: #5d5d5d;
    --bg-success: #86ebba;
    --bg-primary: #6fbcf2;
    --bg-warning: #f5c674;
    --bg-danger: #ff798b;
    --bg-success-dark: #1d7254;
    --bg-primary-dark: #1a5f91;
    --bg-warning-dark: #8d6318;
    --bg-danger-dark: #943844;
    --ft-base: 'Poppins', Helvetica, Tahoma, Sans-serif;
}*/