*{
    font-family: var(--ft-base);
    box-sizing: border-box;
    list-style: none;
}

html, body{
    height: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
hr{
    color: var(--bg-gray);
}

button, a{
    border-radius: var(--btn-radio);
    border: none;
    padding: 10px;
}
input[type="radio"]:checked{
    content: none;
    border: none;
    background: var(--bg-base);
}
footer{
    width: 100%;
    display: block;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;
    opacity: 0.5;
    font-size: 0.7rem;
}
.bg-fundo{
    background-color: var(--bg-fundo);
    background-image: url("../imgs/bg.svg");
}
.ocp-hidden{
    visibility:hidden;
    display: none;
}
.ocp-show{
    visibility:visible;
    display: block;
}
.text-little{
    font-size: x-small;
}
.form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.denied{
    height: 100vh;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
.denied img{
    margin: auto;
}
.ocp-shadow-wall{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(242, 242, 242, 0.766);
    z-index: 3000;
}
#ocp-loading-indicator{
    color: var(--bg-base);
    position: fixed;
    z-index: 3001;
    left: 49%;
    top: 50%;
}
.container-signin{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-signin {
    max-width: 380px;
    min-height: auto;
    
}
.form-signin-divisor img{
    height: 240px;
    width: auto;
}
.title-signin{
    font-size: large;
    font-weight: bold;
}
.description-signin{
    font-size: small;
}
.form-label{
    font-size: 0.8rem;
    color: var(--bg-darkgray);
    margin: 0;
    padding: 0;
    margin-top: 12px;
}
.ocp-input-form{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    border-radius: var(--radio);
    padding: 10px 15px;
    background: var(--bg-imput);
    border: 1px var(--bg-impborder) solid;
    font-size: 0.85rem;
    font-weight: 500;
    transition: 0.4s;
}
.ocp-input-form:focus{
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: var(--bg-impfocus);
    border: 1px var(--bg-base) solid;
    transition: 0.4s;
}
.ocp-input-form:disabled{
    background: var(--bg-shadow)!important;
}
.ocp-input-form::placeholder{
    color: var(--bg-ligthgray);
}
.ocp-enfase{
    border: 1px var(--bg-danger) solid;
}
.alert{
    border: none;
    padding: 6px;
    font-size: small;
    margin-top: 10px;
    border-radius: var(--btn-radio);
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.alert-success {
    background-color: var(--bg-success);
    color: var(--bg-success-dark);
}
.alert-info {
    background-color: var(--bg-primary);
    color: var(--bg-primary-dark);
}
.alert-warning {
    background-color: var(--bg-warning);
    color: var(--bg-warning-dark);
}
.alert-danger {
    background-color: var(--bg-danger);
    color: var(--bg-danger-dark);
}
.btn{
    font-size: small;
    font-weight: 500;
    padding: 6px 10px;
    border-radius: var(--btn-radio);
    border: none;
}
.btn:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-accept{
    background-color: var(--bg-base);
    color: var(--cc-text);
    transition: 0.2s;
}
.btn-accept:hover{
    background-color: var(--bg-hover);
    color: var(--bg-action);
    transition: 0.2s;
}
.btn-action{
    background-color: var(--bg-action);
    color: var(--bg-hover);
    transition: 0.2s;
}
.btn-action:hover{
    background-color: var(--bg-hover);
    color: var(--bg-action);
    transition: 0.2s;
}
.btn-cancel{
    background-color: var(--bg-impfocus);
    color: var(--bg-gray);
    transition: 0.2s;
}
.btn-cancel:hover{
    background-color: var(--bg-fundo);
    color: var(--bg-navhome);
    transition: 0.2s;
}
.btn-warning{
    background-color: var(--bg-warning);
    color: var(--bg-warning-dark);
    transition: 0.2s;
}
.btn-warning:hover{
    background-color: var(--bg-warning-dark);
    color: var(--bg-warning);
    transition: 0.2s;
}
.btn-danger{
    background-color: var(--bg-danger);
    color: var(--bg-danger-dark);
    transition: 0.2s;
}
.btn-danger:hover{
    background-color: var(--bg-danger-dark);
    color: var(--bg-danger);
    transition: 0.2s;
}

/*****start style navbar top*****/

.nav-sysinfo{
    min-height: 38px;
    background-color: var(--bg-base);
    margin: 0 !important;
    padding: 0 !important;
    z-index: 1000;
}

.nav-sysinfo .navbar-brand{
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
}

.nav-sysinfo .navbar-nav{
    font-size: 0.7rem;
}

.nav-sysinfo .navbar-nav .nav-link{
    color: var(--bg-action);
}
.nav-sysinfo .navbar-nav .nav-link:hover{
    
    color: var(--bg-hover);
    transition: 0.2s;
}

.nav-sysinfo-user .nav-link{
    font-size: 0.9rem;
    font-weight: 700;
}
.nav-sysinfo-user .dropdown-menu{
    font-size: 0.8rem;
    background-color: var(--bg-base);
    border: none;
    margin: 0;
    border-radius: 0 0 var(--radio) var(--radio);
}

.nav-sysinfo-user .dropdown-item{
    color: var(--bg-action);
}

.nav-sysinfo-user .dropdown-item:hover{
    background: none;
    color: var(--bg-hover);
    transition: 0.2s;
}

.navbar-toggler{
    border: none;
    --bs-navbar-toggler-focus-width:none;
}

/*end style navbar top*/

/*end style navbar primary*/
.nav-primary{   
    width: 100vw;
    min-height: 40px;
    margin: 0;
    padding: 15px 0;
    position: fixed;
    top: 38px;
    font-size: 0.7rem !important;
    background-color: var(--bg-card);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(159, 158, 158, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(159, 158, 158, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(159, 158, 158, 0.1);
    z-index: 999;
}
.navbar-block {
    display: flex;
    border-right: 1px solid var(--bg-fundo);
    background-color: var(--bg-card);
}
.navbar-block i{
    display: block;
    font-size: 1.8rem;
}
.navbar-block:last-child{
    border: none;
}
.navbar-block .nav-link{
    text-align: center;
    margin: 0;
    padding: 0 15px !important;
}
.color-purple a{
    color: rgb(208, 125, 225);
}
.color-purple a:hover{
    color: rgb(146, 88, 157);
}
.color-blue a{
    color: rgb(118, 149, 226);
}
.color-blue a:hover{
    color: rgb(89, 113, 172);
}
.color-magenta a{
    color:rgb(252, 115, 184);
}
.color-magenta a:hover{
    color:rgb(179, 80, 130);
}
.color-green a{
    color: rgb(61, 198, 166);
}
.color-green a:hover{
    color: rgb(47, 152, 128);
}
.color-secondary a{
    color: lightsteelblue;
}

/* end style navbar primary */

.main-page{
    padding-top: 150px;
    padding-bottom: 70px;
}
.card{
    border: none;
}
.card-header{
    background-color: none;
    background: none;
    border: none;
}
.card-title h3{
    font-size: 1rem;
    font-weight: 700;
    color: var(--bg-base);
}
.card-title p{
    font-size: 0.7rem;
    color: var(--bg-hover);
}
.ocp-drop-form{
    min-width: 240px;
    padding: 20px;
    border: none;
    border-radius: var(--radio);
    -webkit-box-shadow: 0 20px 31px -5px rgba(122,122,122,0.2);
    box-shadow: 0 20px 31px -5px rgba(122,122,122,0.2);
}
.ocp-table tr th{
    padding: 10px 20px;
    color: var(--bg-base);
    font-size: small;
}
.ocp-table tr td{
    vertical-align: middle;
    padding: 10px 20px;
    font-size: small;
}
.ocp-table p{
    margin: 0;
    padding: 0;
}
.ocp-table tr th:first-child{
    text-align: center;
}
.ocp-table tr:hover td{
    background-color: var(--bg-action);
}
.ocp-table tr th:last-child{
    min-width: 80px;
    text-align: end;
}
.ocp-table tr td:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
.ocp-table tr td:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    min-width: 80px;
    text-align: end;
}
.tab-info{
    font-size: 0.8rem;
    color: var(--bg-gray);
}
.ocp-triger-tabnav-action{
    background: none;
}
.ocp-item-tabnav-action{
    font-size: 0.8rem;
    border: 1px solid var(--bg-action);
    z-index: 3100;
}
.ocp-item-tabnav-action li a{
    color: var(--bg-darkgray);
}
.ocp-item-tabnav-action li a:active{
    background-color: var(--bg-hover);
    color: var(--bg-action);
}
.ocp-tab-action{
    color: var(--bg-hover);
    font-size: 1rem;
}
.ocp-imgform{
    width: 140px;
    height: 140px;
    background: var(--bg-card);
    border-radius:  50%;
    border: 1px solid var(--bg-impborder);
    position: relative;
}
.ocp-content-imgform{
    width: 130px;
    height: 130px;
    background: var(--bg-impborder);
    border-radius:  50%;
    overflow: hidden;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 100;
}
.ocpinputimgform{
    width: 130px;
    height: 130px;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 101;
}
.ocp-picture-imgform{
    height: 130px;
    width: auto;
}

.pbig{
    font-size: 0.8rem;
    font-weight: 600;
}

.psmall{
    font-size: 0.7rem;
}

.bg-base{
    background-color: var(--bg-base);
}

.ocp-dash-card{
    border-radius: var(--radio);
    padding: 10px;
}

.ocp-dash-card-one{
    
    background-color: var(--bg-success);
    color: var(--bg-success-dark);
}

.ocp-dash-card-two{
    background-color: var(--bg-primary);
    color: var(--bg-primary-dark);
}

.ocp-dash-card-tree{
    background-color: var(--bg-warning);
    color: var(--bg-warning-dark);
}

.ocp-dash-card-for{
    background-color: var(--bg-ligthgray);
    color: var(--bg-darkgray);
}

.ocp-dash-card-content{
    margin-left: 10px;
    overflow: hidden;
}

.ocp-dash-card-content *{
    margin: 0 !important;
    padding: 0 !important;
}

.ocp-dash-card-content p {
    font-size: 2rem;
    font-weight: bold;
}

.ocp-dash-card-content h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

.ocp-dash-card-content span{
    font-size: 0.8rem;
}

@media(max-width:990px){

    .main-page{
        padding-top: 118px;
    }

    .navbar-block {
        min-height: 60px;
        border: none;
        width: auto;
        margin: 10px 0;
    }
    
    .navbar-block .nav-link{
        display: block;
        width: 25%;
    }
}
