<!-- delete confirmation -->
<div class="modal fade" id="modalDell" tabindex="-1" aria-labelledby="modalDellLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-danger p-4 ocp-rounded">
        <form action="{{action_del}}" method="post" enctype="multipart/form-data" id="ocpdelete" reload="true">
            <div class="modal-body text-light text-center">
                <h1><i class="bi-exclamation-lg" style="font-size: 5rem;"></i></h1>
                <h2 class="mb-3">Alerta</h2>
                <p class="small">O Item será excluído definitivamente e não poderá ser restaurado! Tem certeza disso?</p>
                <p class="small">Validção com senha de acesso necessária</p>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" id="passconfirm" name="passconfirm"
                                    class="form-control ocp-input-form ocp-mandatory my-3"
                                    placeholder="senha de acesso" autofocus>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="submit" class="btn btn-sm btn-warning" data-bs-dismiss="modal">
                    <i class="bi-trash me-1" style="font-size: 0.8rem;"></i>
                    Excluir
                </button>
                <button type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">
                    <i class="bi-door-open me-1" style="font-size: 0.8rem;"></i>
                    Cancelar
                </button>
                <input type="hidden" name="id" value="" id="ocpiddel">
                <input type="hidden" name="token_trash" value="{{token}}">
            </div>
        </form>
    </div>
    </div>
</div>