<main class="container-signin">
    <div class="form-signin text-center">
        <div class="form-signin-divisor mb-2">
            <i class="bi-file-earmark-lock" style="font-size: 4rem; color: var(--bg-gray);"></i>
            <p class="description-signin p-0 m-0">{{username}}</p>
            <p class="description-signin p-0 m-0">{{userperfil}}</p>
        </div>
        <div class="form-signin-divisor">
            <h1 class="title-signin p-0 m-0">Troca de Senha Obrigatória</h1>
            <h1 class="title-signin p-0 m-0">{{sisname}}</h1>
            <p class="description-signin p-0 m-0">{{sisdesc}}</p>
            <form action="{{action}}" method="post" enctype="multipart/form-data" id="genericform" class="mt-2 px-5 asyncform">
                <div id="msgalert"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" id="oldpass" name="oldpass"
                                   class="form-control ocp-input-form ocp-mandatory my-2"
                                   placeholder="Senha Atual" autofocus>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" id="newpass" name="newpass"
                                   class="form-control ocp-input-form ocp-mandatory my-2"
                                   placeholder="Nova Senha">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input type="password" id="repeatpass" name="repeatpass"
                                   class="form-control ocp-input-form ocp-mandatory my-2"
                                   placeholder="Repita a Nova Senha">
                        </div>
                    </div>
                </div>
                <button class="btn btn-sm btn-accept btn-block mt-3 mb-1" type="submit">
                    <i class="bi-check-circle-fill" style="font-size: 0.8rem;"></i>
                    Avançar
                </button>
                <a class="d-block small" href="?app=login&action=logoff">Sair</a>
                <p class="text-little m-0 p-0 mt-2">{{syscopy}}</p>
                <input type="hidden" class="ocp-input-form" name="token" value="{{token}}">
            </form>
        </div>
    </div>
</main>