<main class="main-page container">
    <div class="card p-4">
        <!-- page header -->
        <div class="card-header d-sm-block d-md-flex">
            <div class="card-title">
                <h3 class="p-0 m-0"><i class="bi bi-houses"></i> Gestão de Secretarias</h3>
                <p class="p-0 m-0 text-muted">Gestão de Informação das Unidades Ordenadoras</p>
            </div>
            <div class="card-actions ms-auto ocp-print">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <button class="btn btn-sm btn-accept ocp-btn-toogle-form my-1" id="btnadd">
                            <i class="bi-plus-circle-fill" style="font-size: 0.8rem;"></i>
                            Adicionar
                        </button>
                    </li>
                    <li class="list-inline-item" id="btnfilter">
                        <div class="dropdown m-0 p-0">
                            <button class="btn btn-sm btn-action dropdown my-1" type="button" data-bs-toggle="dropdown">
                                <i class="bi-funnel-fill" style="font-size: 0.8rem;"></i>
                                Filtro
                            </button>
                            <div class="dropdown-menu dropdown-menu-end ocp-drop-form" aria-labelledby="ocpBtnFilter">
                                {{form_search}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- page body -->
        <div class="card-body">
            
            <!--Alerts Msgs-->
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div id="msgalert"></div>
                </div>
            </div>

            <!-- form page -->
            <div id="pageform" class="my-3 ocp-hidden">
                <form action="{{action}}" method="post" enctype="multipart/form-data" id="fproc" data-reloadview="true">
                    <div class="row justify-content-center">
                        <div class="col-lg-9">

                            <div class="row mb-md-3">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <label for="secretaria" class="form-label col-form-label small">Secretaria <span class="text-danger small">*</span></label>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <input type="text" name="secretaria" id="secretaria"
                                           class="form-control ocp-input-form ocp-mandatory" placeholder="Identificação da Unidade"
                                           value="">
                                </div>
                            </div>

                            <div class="row mb-md-3">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <label for="cnpj" class="form-label col-form-label small">CNPJ</label>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <input type="text" name="cnpj" id="cnpj"
                                           class="form-control ocp-input-form maskcnpj" placeholder="000.000.000-00" 
                                           value="">
                                </div>
                            </div>

                            <div class="row mb-md-3">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <label for="endereco" class="form-label col-form-label small">Endereço <span class="text-danger small">*</span></label>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <input type="text" name="endereco" id="endereco"
                                           class="form-control ocp-input-form ocp-mandatory"
                                           placeholder="Endereço da Unidade Ordenadora"
                                           value="">
                                </div>
                            </div>

                            <div class="row mb-md-3">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <label for="telefone" class="form-label col-form-label small">Telefone</label>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <input type="tel" name="telefone" id="telefone"
                                           class="form-control ocp-input-form maskphone"
                                           placeholder="(00)0.0000-0000" value="">
                                </div>
                            </div>

                            <div class="row mb-md-3">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <label for="email" class="form-label col-form-label small">E-mail</label>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <input type="email" name="email" id="email"
                                           class="form-control ocp-input-form"
                                           placeholder="ordenadora@mail.com" value="">
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12 text-end">
                                    <button type="submit" class="btn btn-sm btn-accept">
                                        <i class="bi-check-circle" style="font-size: 0.8rem;"></i>
                                        Salvar
                                    </button>
                                    <button type="button" id="btncancel" class="btn btn-sm btn-cancel ocp-btn-cancel-form">
                                        <i class="bi-x-circle" style="font-size: 0.8rem;"></i>
                                        Cancelar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="{{token}}">
                    <input type="hidden" class="ocp-input-form" id="id" name="id" value="0">
                </form>
            </div>

            <!-- list data -->
            <div id="pagelist" class="my-3">
                <div class="table-responsive" id="datapage">
                    {{data_page}}
                </div>
            </div>
        </div>
        
    </div>
</main>