<div id="dashfila" class="mb-3">
    <span class="badge bg-base mb-3">Panorama Matrículas {{info_data}}</span>
    <div class="row">
        <div class="col-xl-3 col-lg-6 p-2">
            <div class="ocp-dash-card ocp-dash-card-one align-middle d-flex">
                <i class="bi-stack" style="font-size: 2rem;"></i>
                <div class="ocp-dash-card-content">
                    <p>{{info_matriculas}}</p>
                    <h3>Total Matriculados</h3>
                    <span>Matrículas regulares</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 p-2">
            <div class="ocp-dash-card ocp-dash-card-two align-middle d-flex">
                <i class="bi-ui-checks" style="font-size: 2rem;"></i>
                <div class="ocp-dash-card-content">
                    <p>{{info_transferidos}}</p>
                    <h3>Alunos Transferidos</h3>
                    <span>Total de Alunos Transferidos</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 p-2">
            <div class="ocp-dash-card ocp-dash-card-tree align-middle d-flex">
                <i class="bi-stack-overflow" style="font-size: 2rem;"></i>
                <div class="ocp-dash-card-content">
                    <p>{{info_desistentes}}</p>
                    <h3>Evasões e Desistências</h3>
                    <span>Total Alunos Desistentes</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 p-2">
            <div class="ocp-dash-card ocp-dash-card-for align-middle d-flex">
                <i class="bi-x-circle-fill" style="font-size: 2rem;"></i>
                <div class="ocp-dash-card-content">
                    <p>{{info_sumidos}}</p>
                    <h3>Não Localizados</h3>
                    <span>Total Não Localizados</span>
                </div>
            </div>
        </div>
    </div>
</div>